
.PanelBio {
     background: transparent;
    border-radius: 0px 0px 7px 7px;
    background-color: #18425F;
    /*background-image: url('/Images/fondoContainer.png') !important;*/ 
    background-size: 100% 100%;
    /*opacity: .8;*/
}
.LabelText {
   background: transparent;
    
    border-radius: 7px 7px 0px 0px;
    background-color: #18425F;
    /*background-image: url('/Images/fondoContainer.png') !important;*/ 
    background-size: 100% 100%;
}
  
   .PanelBio2 {
    
    border-radius: 0px 0px 7px 7px;
    background-color: #DDDDDD;
    opacity: .8;
}