
.x-menu-item-text-default {
font: normal 13px helvetica,arial,verdana,sans-serif;
line-height: 23px;
padding-top: 1px;
color: black;
cursor: pointer;
white-space: pre-wrap;
}
.anios .x-menu-item-text-default {
font: normal 20px helvetica,arial,verdana,sans-serif;
line-height: 23px;
padding-top: 10px;
color: black;
cursor: pointer;
}
.anios .x-menu-item-default {
border-width: 0;
cursor: pointer;
text-align: center;
}

.anios  .x-panel-header-title-default {
color: #157fcc;
font-size: 16px;
font-weight: 300;
font-family: helvetica,arial,verdana,sans-serif;
line-height: 16px;
height: 25px;
}
.menuMain .x-menu-item-icon-default {
width: 25px;
height: 25px;
top: 0px;
left: 0px;
background-position: center center;
}
.encabezadomain .x-toolbar-default .x-toolbar-item {
margin: 0 8px 0 0;
padding: 0 4px;
color: rgb(118, 118, 118);
font: 300 13px helvetica,arial,verdana,sans-serif;
}
.encabezadomain .x-toolbar-default {
padding: 6px 0 6px 8px;
border-style: solid;
border-color: #cecece;
border-width: 1px;
background-image: url(/SIPCO/images/toolBarAnios.png); 
background-size: 100% 40px;
background-repeat: no-repeat;
line-height: 1.5;
}


.encabezadomain .x-btn-default-toolbar-small {
border-width: 0px;
}
.encabezadomain .x-btn-icon-left>.x-btn-icon-el-default-toolbar-small, .x-btn-icon-right>.x-btn-icon-el-default-toolbar-small {
width: 100%;
}
.x-toolbar-spacer-default {
background-color: transparent;
}
.pp .x-box-item {
position: absolute!important;
font-size: 18;
text-align: justify;
width: 200;
line-height: 1.5;
}
.inf .x-form-text-default {
color: black;
background-color: white;
font: 18px verdana,sans-serif;
text-align: justify;
}
.inf .x-form-text-default.x-form-textarea {
line-height: 30px;
min-height: 60px;
}

.titleMain .x-panel-header-title-default {
color: #00103E;
font-size: 20px;
font-weight: 300;
font-family: helvetica,arial,verdana,sans-serif;
line-height: 22px;
background-color: #E6E6E6;
height: 35;
border-bottom: black;
}
.titleMain .x-panel-header-default-horizontal.x-header-noborder {
padding: 1px 0px 1px 0px;
}

.titleTabMain .x-tab.x-tab-active.x-tab-default {
border-color: white;
background-color: #00103E;
width: 600;
height: 40;
}
.titleTabMain .x-tab.x-tab-active.x-tab-default .x-tab-inner-default{
color: white;
font-size: 18;
}
.titleTabMain .x-tab-bar-default-scroller .x-box-scroller-body-horizontal {
margin-left: 0px;
}
.titleTabMain .x-tab-bar-default-top>.x-tab-bar-body-default {
padding: 1px;
}
.titleMain .x-panel-default {
border-color: #1D0F0F;
padding: 1px;
}
.titleMain .x-panel-header-default {
background-image: none;
background-color: #E6E6E6;
}



.mainPTA .x-toolbar-default .x-toolbar-item {
color: white;
font: 300 15px helvetica,arial,verdana,sans-serif;
}
.mainPTA .x-toolbar-default {
padding: 6px 0 6px 8px;
border-style: solid;
border-color: #cecece;
border-width: 1px;
background-image: none;
background-color: #131C49;
line-height: 1.5;
margin: 1;
text-align: center;
}

.mainPTA .x-toolbar-spacer-default {
background-color: white;
}
.bodyMain .x-panel-body-default {
background: white;
border-color: #cecece;
color: black;
font-size: 13px;
font-weight: 300;
font-family: helvetica,arial,verdana,sans-serif;
border-width: 1px;
border-style: solid;
background-image: url(/SIPCO/images/fondoMain.png);
background-size: 100% 100%;
background-repeat: no-repeat;
}

.btnTransparent {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
}
.btnTransparent .x-btn-inner-default-small {
	border-width: 0px;
	font: 300 12px/16px helvetica,arial,verdana,sans-serif;
	color: black;
	padding: 0 5px;
	max-width: 100%;
}
.btnTransparent32 {
 background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
}

.btnTransparent32 .x-btn-default-small {
border-color: transparent;
}

.big-button-image {
    background-image: url('../../images/alertNotificacion.gif') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
}

.encabezadoPTA .x-form-item-label-default {
color: #121010;
font: 300 13px/17px helvetica,arial,verdana,sans-serif;
min-height: 24px;
padding-top: 4px;
padding-right: 5px;
font-style: oblique;
}
.encabezadoPTA .x-form-item-label-inner {
display: inline-block;
background-color: lightgray;
}

.mir .x-form-text-default.x-form-textarea {
line-height: 15px;
min-height: 60px;
color: lightgray;
}
.detalle .x-form-text-default {
color: #A1ADA7;
padding: 4px 6px 3px 6px;
background-color: white;
font: 300 13px/15px helvetica,arial,verdana,sans-serif;
min-height: 22px;
}
.x-action-col-cell img.icon-alert {
background-image: url("../../images/16X16/chat-activeAlarm.gif");
}
.x-action-col-cell img.icon-notif {
    background-image: url("../../images/16X16/chat-active.png");
}
.myRowClass .x-grid-cell {
    background:#FFFFCC;
}
.big-button-imageAlert {
    background-image: url('../../images/32X32/Chat active 32x32.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
}
.big-button-imageExcel {
    background-image: url('../../images/32X32/excel.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
}
.big-button-imagePdf {
    background-image: url('../../images/32X32/pdf.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
}
.notificaiones-btn .x-btn-inner {
    color: #1944AF;
    border-color:#EE0000;
    font-size: 12px !important;
    font-weight: bold !important;
    font-family: 'Arial' !important;
}
.big-button-imageHelp {
    background-image: url('../../images/32X32/info2.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
}
.big-button-imagePicture {
    background-image: url('../../images/16X16/Picture.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 18px;
    height: 18px;
}
.big-button-imageUpload {
    background-image: url('../../images/16X16/upload.png') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent !important;
    width: 16px;
    height: 16px;
}
.rowFin .x-grid-cell {
    background:#A4F5CA;
}
.rowProposito .x-grid-cell {
    background:#23CC72;
}
.rowComponente .x-grid-cell {
    background:#93B3ED;
}
.rowActividad .x-grid-cell {
    background:#DBA4F5;
}
.rowComponente1 .x-grid-cell {
    background:#B1C8F2;
}
.rowActividad1 .x-grid-cell {
    background:#E5BEF7;
}
.x-column-header-inner.x-column-header-over {
    background-color: #DCE8A2;
    border-right: 1px solid #7e7e7e;
}
.invalid-component {
    background : #f4f777 !important;
    border: 2px dotted #ffee27; //works!!
}
.rounded .x-form-text-wrap, .rounded .x-form-trigger-wrap {
        border-radius: 7px;
    }
.x-grid-table .x-grid-cell-myColumn {background:#FF0000;}

.formLogin .x-panel-header-default {
  background-color: #fcb12f; 
  border-radius: 7px 7px 0px 0px;
  color:white;
}

.formLogin .x-form-item-label-default {
  color: white;
  font: bold 14px arial;
}
.formLogin .x-fieldset-default {
   border-radius: 0px 0px 7px 7px;
}
.formLogin .x-btn-over .x-btn-default-small {
      background-color: #727C84;
}
.formLogin .x-btn-default-small {
      background-color: #fcb12f;
      border-color: #fcb12f;
      background-image: none ;
}
.formLogin .x-form-text-default {
    border-radius: 7px;
}
.formLogin .x-form-trigger-wrap-default {
    border-width: 0px;
}

.pMain .x-menu-body-default {
  background: transparent;
  padding: 0;
}
.pMain .x-menu-default {
  border-width: 0px;
}
.pMain .x-menu-item-default {
     background-image: url('./Imagenes/fondoContainer.png') !important; 
     background-size: 100% 100%;
     background-repeat:no-repeat;
     border-radius: 0px 7px 7px 0px;
     height: 60px;
}

.pMain .x-menu-item-text-default {
  font: bold 13px helvetica, arial, verdana, sans-serif;
  line-height: 10px;
  padding-top: 15px;
  color: white;
  cursor: pointer;
  white-space: pre-wrap;
  width: 20px;
}
.pMain .x-panel-header-default {
  background-image: none;
  background-color: #fcb12f;
  /*border-radius: 7px 7px 0px 0px;*/
}

.pMain .x-panel-body-default {
    background: transparent;
     /*background-image: url('./Imagenes/fondoContainer.png') !important;*/ 
     background-size: 100% 100%;
     background-repeat:no-repeat;
     background-color: transparent;
}

.pMain .x-form-item-label-default {
    color: white;
    font: bold 13px/17px helvetica, arial, verdana, sans-serif;
}
.pMain.x-toolbar-default {
     background: transparent;
     background-image: url('./Imagenes/fondoContainer.png') !important; 
     background-size: 100% 100%;
     background-repeat:no-repeat;
}
.pMain .x-form-text-default {
    border-radius: 7px;
}
.pMain .x-form-trigger-wrap-default {
    border-width: 0px;
}
.pMain .x-btn-default-small {
      background-color: #fcb12f;
      border-color: #fcb12f;
      background-image: none ;
}
.pMain .x-panel-header-default {
  background-color: #fcb12f; 
  /*border-radius: 7px 7px 0px 0px;*/
  color:white;
}
.pMain .x-btn-over .x-btn-default-small {
      background-color: #727C84;
}
.my-btn .x-btn-inner {
  background-color: #fcb12f;
      border-color: #fcb12f;
      background-image: none ;
}
.ExtMessageBox  
{   
  background-color: Red;
  border-style: double;
  font-size: x-large;
}
.mjs .x-msgbox .x-body {
   background-color: green;
  border-style: double;
  font-size: x-large;
}
.pWin .x-window-tl
{
     color: #fffff6;
    border-color:#18181a;
    	    background-color:#232d38;
}

.pWin .x-panel-header {
	    color:red;
	    font-weight:bold;
	    font-size: 14px;
	    font-family: tahoma,arial,verdana,sans-serif;
	    border-color:#18425F;
	    /*background-image: url(../images/access/panel/white-top-bottom.gif);*/
	}
.pWin .x-panel {
	    border-color: #18181a;
	}
.pWin .x-panel-body {
	    color: #fffff6;
    border-color:#18181a;
    	    background-color:#232d38;
	}
/*.go-paging-tb, .x-toolbar {background:#fcb12f !important;color:black !important;}*/

.pWin .x-window-header {
    overflow:hidden;
    zoom:1;
    color: #fffff6;
    border-color:#18181a;
    background-color:#232d38;
}
.pWin .x-tabbar{
    overflow:hidden;
    zoom:1;
    color: #fffff6;
    border-color:#18181a;
    background-color:#232d38;
}
.pWin .x-tabbar {
    padding-top: 0px !important;
    border-bottom: 2px solid #306aa1 !important;
    background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#D7D9DA), color-stop(0.02, #8E9294), color-stop(0.5, #909497), color-stop(0.51, #888D90), to(#6F7376));
}

.pWin .x-tabbar.x-docked-top .x-tab {
color:#FFF;
text-shadow: #000 0px 1px 0px;
background-image:url(bouton_tab2.png);
}

.pWin .x-tabbar.x-docked-top .x-tab:before, .x-tabbar.x-docked-top .x-tab:after{
background-image:url(bouton_tab2.png);
}
.x-tab-bar-default {
    background-color: #f4994e !important;
}
.x-tab.x-tab-active.x-tab-default {
    border-color: #fdbb84 !important;
    background-color: #fdbb84 !important;
}
.x-tab-default {
    border-color: #fdbb84;
    cursor: pointer;
}
.x-tab-default-top {
    background-color: #f4994e !important;
}
.x-tab-default {
    border-color: #f4994e !important;
}
.x-tab.x-tab-active.x-tab-default .x-tab-inner-default {
    color: #000000 !important;
}
.x-tab-bar-strip-default {
    border-color: #f4994e !important;
    background-color: #f4994e !important;
}
.x-btn-default-small {
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f7d7bd),color-stop(50%,#ffc799),color-stop(51%,#f4994e),color-stop(100%,#f5760e))!important;
   
}
.x-btn-default-small {
    border-color: #f4994e !important;
}
.x-window-header-default {
    font-size: 13px;
    border-color: #f4994e;
    background-color: #f4994e !important;
}
.x-window-default {
    border-color: #f4994e !important;
}
.x-window-header-default {
    border-color:#f4994e !important;
    background-color: #f4994e !important;
}
.x-panel-body-default {
    background: #efedec !important;
    border-color: #c1c1c1 !important;
    color: black;
    /*background-image: url('\FRT\FRT\Scripts\FRT\Imagenes\fondo.jpg')!important;*/
}
.x-panel-header-default {
    background-color: #f4994e !important;
}
.x-panel-header-default {
    border: 1px solid #f4994e !important;
}