﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Facturación Global</title>
    <link href="@Url.Content("~/Scripts/Movil/FRT.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Movil/.sencha/app/microloader/development.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        document.FMCUrl = "@Url.Content("~")"

    </script>
    <script type="text/javascript" language="javascript">
        Ext.define('FMCM.Routes',
        {
            statics:
            {
                root: '@Url.Content("~")'
            }
        });
        Ext.define('FMCM.Usuario',
        {
            @*statics:
            {
                ULogin: Ext.JSON.decode(Ext.String.htmlDecode('@ViewData["Usuario"]'))
                //VarConfig: Ext.JSON.decode(Ext.String.htmlDecode('@ViewData["ConfigVariables"]'))
            }*@
        });
    </script>

</head>
<body>
    <div id="page-loader" style="width:100px">
        <img style="position: absolute; background-size: 80px 60px; left: 50%; top: 50%; margin-left: -175px; margin-top: -100px;" src="/FRT/Scripts/FRT/imagenes/pampas.gif" />
    </div>
    <div id="container">
        @RenderBody()
    </div>
</body>
</html>